<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dashboard One | Notika - Notika Admin Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon
            ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Google Fonts
            ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <!-- owl.carousel CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}">
        <!-- meanmenu CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu/meanmenu.min.css') }}">
        <!-- animate CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
        <!-- normalize CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <!-- mCustomScrollbar CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
        <!-- jvectormap CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jvectormap/jquery-jvectormap-2.0.3.css') }}">
        <!-- notika icon CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notika-custom-icon.css') }}">
        <!-- wave CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wave/waves.min.css') }}">
        <!-- main CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- style CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- responsive CSS
            ============================================ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <!-- modernizr JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <div class="breadcomb-area" style="margin-top:20px;">
            <div class="container">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="invoice-wrap">
                                <div class="invoice-img">
                                    <h2>Analisis Sentiment Masyarakat</h2>
                                    <h2>Terhadap Calon Presiden Indonesia</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notika-email-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="blog-inner-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds text-center">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='img/blog/jokowi3.png') }}" alt="" />
                            </div>
                            <div class="blog-ctn" style="margin-top:20px;">
                                <a href="{{ url_for('jokowi')}}" class="btn btn-success">Sentimen Analisis Jokowi</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="blog-inner-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds text-center">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='img/blog/prabowo3.png') }}" alt="" />
                            </div>
                            <div class="blog-ctn" style="margin-top:20px;">
                                <a href="{{ url_for('prabowo')}}" class="btn btn-success">Sentimen Analisis Prabowo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019 by Aditya Derry Saputra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
<!-- jquery ============================================ -->
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jquery-price-slider.js') }}"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/meanmenu/jquery.meanmenu.js') }}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/counterup/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/counterup/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/counterup/counterup-active.js') }}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <!-- jvectormap JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jvectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jvectormap/jvectormap-active.js') }}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/sparkline/jquery.sparkline.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sparkline/sparkline-active.js') }}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/curvedLines.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/flot-active.js') }}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/knob/jquery.knob.js') }}"></script>
        <script src="{{ url_for('static', filename='js/knob/jquery.appear.js') }}"></script>
        <script src="{{ url_for('static', filename='js/knob/knob-active.js') }}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/wave/waves.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wave/wave-active.js') }}"></script>
        <!--  todo JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/todo/jquery.todo.js') }}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/chat/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chat/jquery.chat.js') }}"></script>
        <!-- main JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- tawk chat JS
            ============================================ -->
        <!-- <script src="{{ url_for('static', filename='js/tawk-chat.js') }}js/tawk-chat.js"></script> -->

    </body>  
</html>