<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard One | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu/meanmenu.min.css') }}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jvectormap/jquery-jvectormap-2.0.3.css') }}">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notika-custom-icon.css') }}">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wave/waves.min.css') }}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>
    <div class="breadcomb-area" style="margin-top:20px;">
        <div class="container">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="email-statis-inner notika-shadow">
                            <div class="email-ctn-round">
                                <div class="email-rdn-hd">
                                    <h2>Sentimen Analisis</h2>
                                </div>
                                <div class="email-round-gp col-sm-12">
                                    <div class="email-statis-wrap col-sm-6">
                                        <div class="email-round-nock">
                                            <input type="text" class="knob" value="0" data-rel="{{ information[0] }}" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                        </div>
                                        <div class="email-ctn-nock">
                                            <p>Sentimen Positif</p>
                                        </div>
                                    </div>
                                    <div class="email-statis-wrap col-sm-6">
                                        <div class="email-round-nock">
                                            <input type="text" class="knob" value="0" data-rel="{{ information[1] }}" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#FF0000" data-thickness=".10" data-readonly="true">
                                        </div>
                                        <div class="email-ctn-nock">
                                            <p>Sentimen Negatif</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a data-toggle="tab" href="#crawling" style="font-size: 12px;">Crawling</a></li>
                        <li><a data-toggle="tab" href="#casefolding" style="font-size: 12px;">Case Folding</a></li>
                        <li><a data-toggle="tab" href="#cleansing" style="font-size: 12px;">Cleansing</a></li>
                        <li><a data-toggle="tab" href="#normalization" style="font-size: 12px;">Normalization</a></li>
                        <li><a data-toggle="tab" href="#negation" style="font-size: 12px;">Negation</a></li>
                        <li><a data-toggle="tab" href="#tokenize" style="font-size: 12px;">Tokenize</a></li>
                        <li><a data-toggle="tab" href="#stopword" style="font-size: 12px;">Stopword</a></li>
                        <li><a data-toggle="tab" href="#postag" style="font-size: 12px;">POS Tangging</a></li>
                        <li><a data-toggle="tab" href="#lexicon" style="font-size: 12px;">Lexicon Based</a></li>
                        <li><a data-toggle="tab" href="#naive" style="font-size: 12px;">Naive Bayes</a></li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="crawling" class="tab-pane in active notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Crawling</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(crawling|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ crawling[n] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="casefolding" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Case Folding</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(caseHolding|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ caseHolding[n] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="cleansing" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Cleansing</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(cleansing|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ cleansing[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="normalization" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Normalization</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(normalization|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ normalization[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="negation" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Negation</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-stripedx">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(negation|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ negation[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="tokenize" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Tokenize</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(tokenize|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ tokenize[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="stopword" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Stopword</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(stopwords|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ stopwords[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="postag" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>POS Tagging</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(pos|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ pos[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="lexicon" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Lexicon</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(lexicon|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ lexicon[n][0] }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div id="naive" class="tab-pane notika-tab-menu-bg flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <div class="normal-table-list">
                                    <div class="basic-tb-hd">
                                        <h2>Naive Bayes Classifier</h2>
                                    </div>
                                    <div class="bsc-tbl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tweet</th>
                                                    <th>Prob Positif</th>
                                                    <th>Prob Negatif</th>
                                                    <th>Sentimen</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for n in range(naive|length) %}
                                                <tr>
                                                    <td>{{ n+1 }}</td>
                                                    <td>{{ naive[n][0]}}</td>
                                                    <td>{{ naive[n][1][0][0]}}</td>
                                                    <td>{{ naive[n][1][0][1]}}</td>
                                                    <td>{{ naive[n][1][1]}}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019 by Aditya Derry Saputra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
<!-- jquery
		============================================ -->
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jquery-price-slider.js') }}"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/meanmenu/jquery.meanmenu.js') }}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/counterup/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/counterup/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/counterup/counterup-active.js') }}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <!-- jvectormap JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/jvectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jvectormap/jvectormap-active.js') }}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/sparkline/jquery.sparkline.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sparkline/sparkline-active.js') }}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/curvedLines.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flot/flot-active.js') }}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/knob/jquery.knob.js') }}"></script>
        <script src="{{ url_for('static', filename='js/knob/jquery.appear.js') }}"></script>
        <script src="{{ url_for('static', filename='js/knob/knob-active.js') }}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/wave/waves.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wave/wave-active.js') }}"></script>
        <!--  todo JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/todo/jquery.todo.js') }}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/chat/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chat/jquery.chat.js') }}"></script>
        <!-- main JS
            ============================================ -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- tawk chat JS
            ============================================ -->
        <!-- <script src="{{ url_for('static', filename='js/tawk-chat.js') }}js/tawk-chat.js"></script> -->

    </body>  
</html>